
{% extends "base.html" %}
{% block start %}
 
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
 
 
<div class="container mt-5 col-5">
 
  <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
 
    
    <div class="form-group">
      <label for="exampleInputEmail1">Day-Time </label>
      <input type="text" name="day" value="{{recipe.day}}"  required>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Recipe </label>
      <input name="name" type="text" value="{{recipe.description}}"
        required>
 
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Description </label>
        <textarea  name="description"  type="text" rows="5" cols="30" value="{{recipe.description}}"></textarea>
    <br> 
    <br>

     <!-- Display created_at and updated_at fields -->
     <div class="form-group">
      <label for="createdAt">Created At</label>
      <input type="text" id="createdAt" value="{{ recipe.created_at }}" class="form-control" readonly>
  </div>
  <div class="form-group">
      <label for="updatedAt">Updated At</label>
      <input type="text" id="updatedAt" value="{{ recipe.updated_at }}" class="form-control" readonly>
  </div>
 
    <button type="submit" >Update Data</button>
  </form>
 
 
</div>
 
{% endblock %}

 